// colors

$color-1: #383838; // Mine Shaft
$color-2: #0079f2; // Yahoo Blue
$color-3: #ffffff; // White
$color-4: #ffffff; // White

// fonts 

$primary-font: 'Helvetica Neue', 'Arial', sans-serif;
$secondary-font: 'Helvetica Neueu', 'Arial', serif;
